<div class="table-responsive">
  <table class="table table-sm table-borderless">
    <tbody>
      {% assign mentoring = site.data.outreach.mentoring | sort: 'start_date' | reverse %}
      {% for item in mentoring %}
        <tr>
          <td class="text-nowrap" style="width: 10rem">
            <small class="text-muted">
              {{ item.start_date | date: '%Y/%m' }}
              —
              {% if item.end_date %}
                {{ item.end_date | date: '%Y/%m' }}
              {% else %}
                Present
              {% endif %}
            </small>
          </td>
          <td>
            <strong>
              {%- if item.url -%}
                <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a>
              {%- else -%}
                {{ item.name }}
              {%- endif -%}
            </strong>
            — <small class="text-muted">{{ item.position }}</small>
            {% for pub in item.publications %}
              <br>
              <small>
                {%- if pub.url -%}
                  <a
                    href="{% if pub.external %}{{ pub.url }}{% else %}{{ pub.url | relative_url }}{% endif %}"
                    {% if pub.external %}
                      target="_blank" rel="noopener noreferrer"
                    {% endif %}
                  >
                    {{ pub.title }}
                  </a>
                {%- else -%}
                  {{ pub.title }}
                {%- endif -%}
                {%- if pub.wip %}
                  <span class="text-muted">(Work in Progress)</span>
                {%- endif -%}
                {%- if pub.under_review %}
                  <span class="text-muted">(Under Review)</span>
                {%- endif -%}
              </small>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
